# Environment variables
.env

# Python & Virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing & Logs
.pytest_cache/
app.log
*.log

# Project specific data directories
pgdata/
!downloads/*.xls


# IDE / OS specific
.DS_Store
.vscode/
.idea/
